<!-- Example Style -->
<link href="{{ url_for('ExampleExtension.static', filename='css/ExampleStyle.css') }}" rel="stylesheet"/>

<!-- Example Script -->
<script src="{{ url_for('ExampleExtension.static', filename='js/ExampleScript.js') }}"></script>

<!-- Upload scripts -->
<script src="{{ url_for('ExampleExtension.static', filename='js/ExampleUpload.js') }}" type="text/javascript">

</script>
<div id="tab_to_add" style="display: none;">
    <form enctype="multipart/form-data" id="example_upload_form" method="post">
        <div class="twelve columns">
            <div class="eight columns">
                <h2 class="lineglowslow" style="margin-top:30px">
                    Example
                    <br />
                    <br />
                    Uploader
                </h2>
            </div>
            <div class="four columns">
                <div class="swagLogo">
                    <br />
                </div>
            </div>
        </div>
        <div>
            Check out the new webGL preview!
        </div>
        <div>
            <input onclick="followLink('/ExampleExtension/preview')" style="height: 50px; width: 250px;min-width: fit-content;"
                type="button" value="webGL PREVIEW" />
        </div>
        <div class="twelve columns">
            <h3>
                <span>
                    UPLOAD NEW DATA
                </span>
            </h3>
            <p>
                This uploader is used to Upload a special data format to create a VRNetzer project.
            </p>
        </div>
        <div class="twelve columns">
            <div class="six columns">
                <div class="frameBox">
                    <div class="two columns">
                        <input id="example_radio_new_namespace" name="example_namespace" type="radio" value="New" />
                    </div>
                    <h6>
                        CREATE NEW PROJECT
                    </h6>
                    <br />
                    <input class="swagBox" id="example_new_namespace_name" name="example_new_name"
                        placeholder="New Project" type="text" />
                    <p id="example_submit_warnings" style="display:inline">
                    </p>
                </div>
            </div>
            <div class="six columns">
                <div class="frameBox" id="example_framebox_exisiting">
                    <div class="two columns">
                        <input checked="" id="example_radio_existing" name="example_namespace" type="radio"
                            value="existing" />
                        <br />
                    </div>
                    <h6>
                        UPDATE PROJECT
                    </h6>
                    <!--<h3 class="lineglowslow"><span>PROJECT</span></h3>-->
                    <br />
                    <div class="cornerBox">
                        <select id="example_upload_namespaces" name="example_namespaces">
                            {% for namespace in namespaces %}
                            print(namespace);
                            <option value="{{namespace}}">
                                {{namespace}}
                            </option>
                            {% endfor %}
                        </select>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <div class="twelve columns">
            <div class="frameBox">
                <div class="twelve columns">
                    <h4 class="nine columns">
                        Special data format
                    </h4>
                    <input multiple="" name="data format" type="file" value="placeholder">
                    </input>
                </div>
            </div>
        </div>
        <div class="frameBox">
            <div class="twelve columns">
                <div class="two columns">
                    <input class="swagSubmit" id="example_upload_button" type="submit" value="Upload" />
                </div>
                <div class="nine columns" id="example_upload_message">
                </div>
                <br />
            </div>
        </div>
    </form>
</div>