<!-- import main.html -->
{% include "main.html" %} 

<!-- Import style sheets -->
<link rel="stylesheet" href="{{ url_for('StringEx.static', filename='css/StringStyle.css') }}">
</link>

<!-- Import java scripts -->
<script src="{{ url_for('StringEx.static', filename='js/stringUI_Elements.js') }}"></script>

<script>
    var username = "({{session['username']}})";
    var room = "{{session['room']}}";
</script>

<!-- Tab containing STRING evidence buttons -->
<div id="example-tab" class="container">
    <div class="twelve columns">
        <h2 class="lineglowslow" style="margin-bottom:30px;margin-top:30px">Example Ex</h2>
    </div>
    <p>
    <script>
        document.write("Hello " + username + "!");
        document.write("You are in room " + room + "!");
    </script>
    </p>
</div>

<!-- Change Image of Tab on which STRING Evidence tab is located-->
<script>
    // Add new tab to the tab bar
    // Add evidence tab to the tab bar
    var list_objects = document.getElementsByTagName("li");
    for(var i = 0; i < list_objects.length; i++){
        var link = list_objects[i].getElementsByTagName("a")[0];
        console.log(link.href);
        var tab_id=link.toString().split("#")[1];
        if(!(document.getElementById(tab_id))){
            var child = document.getElementById("example-tab"); // This is the id of the tab we are adding
            child.id=tab_id;
            document.getElementById("tabs").appendChild((child))
            var img = list_objects[i].getElementsByTagName("img")[0];
            img.src = "{{ url_for('ExampleExtension.static', filename='img/example_icon.png') }}";
            break;
        };
    };
</script>
<script>
    deactivateTabs("mainTabs");
</script>
